<div class="container">
<h1>Stupid Coaching</h1>
  <div class="p-3 mb-2">
   <%= @question %>
    <p> - You </p>
  </div>
  <div class="p-3 mb-2 bg-gradient-warning">
    <%= @answer %>
    <p> - Your coach </p>
  </div>
  <div class ="return-question">
    <%= link_to "Ask another question.", ask_path %>
  </div>
</div>
