<div class="container">
  <h1>Your question: </h1>
  <%= @question %>
  <h1>Your coach answered: </h1>
  <%= @answer %>
  <div class ="return-question">
    <a href="/questions/ask"> Ask another question. </a>
  </div>
</div>
